{% extends 'base.html' %} {% block content %}

<h1>Anime List</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ anime.title }}</span>
        <p>Release Year: {{ anime.release_year }}</p>
        <p>Description: {{ anime.description }}</p>
        {% if anime.rating > 5 %}
        <p>Rating: {{ anime.rating }}</p>
        {% else %}
        <p>Rating: Don't Ever Watch This</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'anime_update' anime.id %}">Edit</a>
        <a href="{% url 'anime_delete' anime.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_review' anime.id %}" method="POST">
      {% csrf_token %} {{ review_form.as_p }}
      <input type="submit" value="Add Review" class="btn" />
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Comment</th>
          <th>Recommend</th>
        </tr>
      </thead>
      <tbody>
        {% for review in anime.review_set.all %}
        <tr>
          <td>{{review.date}}</td>
          <td>{{review.comment}}</td>
          <td>{{review.get_recommend_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr />
<div class="row">
  <div class="col s6">
    <h3>{{ anime.title }} Merch</h3>
    {% if anime.merch.count %} {% for m in anime.merch.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title"> A {{ m.name }} for ${{ m.price }} </span>
      </div>
      <div class="card-action">
        <form action="{% url 'unassoc_merch' anime.id m.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Remove</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No Merch (ó﹏ò｡)</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
  <div class="col s6">
    <h3>Available Merch</h3>
    {% if merch.count %} {% for m in merch.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title"> A {{ m.name }} for ${{ m.price }} </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_merch' anime.id m.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{anime.title}} Already Has All Merch Available</h5>
    {% endif %}
  </div>
</div>

<script>
  let selectEl = document.getElementById("id_recommend");
  M.FormSelect.init(selectEl);
</script>
{% endblock %}
